!!! 5
%html
	%head
		%title parks viz
		%meta{ :charset => "utf-8" }
		%script{ :type => "text/javascript", :src => "javascripts/d3/d3.v3.js"}
		%script{ :type => "text/javascript", :src => "javascripts/vis.js"}
		%link{:rel => :stylesheet, :type => :"text/css", :href => "stylesheets/index.css"}

	%body
		%script{ type: "text/javascript" }
			:plain
				var svg = d3.select("body").append("svg");
				init( svg );